.about-page {
  font-family: Arial, sans-serif;
  color: #111111;
  padding: 2rem;
  background-color: #ffffff;
  line-height: 1.6;
  margin-top: 80px;
}

.intro-section {
  text-align: center;
  margin-bottom: 2rem;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  color: #143b05;
  margin: 0;
}

.subtitle {
  font-size: 1.2rem;
  color: #555555;
  margin-top: 1rem;
}

.content-section {
  margin-bottom: 2rem; /* Removed background and padding */
}

.content-section h2 {
  font-size: 2.2rem;
  color: #2b7a0b;
  margin-bottom: 1rem;
}

.content-section p {
  font-size: 1.5rem;
  color: #333333;
  margin: 0;
  text-align: justify;
}

.content-wrapper img{
  height: 80px;
  width: 100%;
  background-repeat: no-repeat;
}

.content-wrapper .image1 {
    background: url('../public/assets/c4b4abc8c63cb3e79a96c2700606a0d9.jpg') cover;
    height: 80px;
    width: 100%;
}
.content-section .image2 {
    background: url('../public/assets/30b5a8c829303d797ef09a362931b26c.jpg');
    height: 80px;
    width: 100%;
}
.content-section .image3 {
    background: url('../public/assets/37ed6b5dad052327cbf6c99e8beb9e4f.jpg');
    height: 80px;
    width: 100%;
}
.content-section .image4 {
    background: url('../public/assets/fee6941507abac27ffbd5e831f133d97.jpg');
    height: 80px;
    width: 100%;
}

@media (max-width: 1024px) {
  .title {
      font-size: 2.5rem;
  }

  .subtitle {
      font-size: 1rem;
  }

  .content-section {
      padding: 0; /* Adjusted padding for sections */
  }

  .content-section h2 {
      font-size: 1.6rem;
  }

  .content-section p {
      font-size: 0.95rem;
  }
}

@media (max-width: 768px) {
  .title {
      font-size: 2rem;
  }

  .subtitle {
      font-size: 0.9rem;
  }

  .content-section {
      padding: 0; /* Adjusted padding for sections */
  }

  .content-section h2 {
      font-size: 1.4rem;
  }

  .content-section p {
      font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .about-page {
      padding: 1rem;
  }

  .title {
      font-size: 1.8rem;
  }

  .subtitle {
      font-size: 0.85rem;
  }

  .content-section {
      padding: 0;
  }

  .content-section h2 {
      font-size: 1.2rem;
  }

  .content-section p {
      font-size: 0.85rem;
  }
}