@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.footer {
 
  background-color: #1f2020;
  color: #d1d5db;
  padding: 0.1rem 0;
}

.footer img {
  background: url('../public/assets/home/logo.png');
  background-repeat: no-repeat;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.column {
  text-align: center;
}

.logo {
  height: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.company-name {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.company-description {
  color: #fefeff;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.column-title {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.column ul {
  list-style: none;
  padding: 0;
}

.column li {
  margin-bottom: 0.5rem;
}

.column a {
  color: #d1d5db;
  text-decoration: none;
  transition: color 0.3s ease;
}

.column a:hover {
  color: #e5e7eb;
}

/* Responsive styles */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column; 
  }

  .footer-links {
    flex-direction: column; 
  }
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer .column {
    flex-basis: 100%; 
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 20px;
  }
}